# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
RewriteBase /
RewriteRule ^([a-zA-Z0-9_]+)$ ./index.php?action=$1 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ ./index.php?action=$1&idseries=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ ./index.php?action=$1&idepisode=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ ./index.php?action=$1&idcomment=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ ./index.php?action=$1&idmember=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$ ./index.php?action=$1&token=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$ ./index.php?action=$1&keyword=$2 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)$ ./index.php?action=$1&idseries=$2&idepisode=$3 [L]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)/([0-9]+)$ ./index.php?action=$1&idseries=$2&number=$3&idepisode=$4 [L]
